body {
    background-color: #00394f;
}
.midsec {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-control {
    background: none;
    color: #fff;
}
.form-control:focus {
    background: none;
    color: #fff;
}

@media (max-width: 575px) {
    .btnlist .btn {
        flex-grow: 1;
    }
}
